details {
    width: 100%;
    container: collapse / inline-size;

    .icon {
        width: 30px;
        height: 30px;
        mask-size: cover;
        background-color: $white;
    }

    .text {
        color: $primary;
        padding: 30px 20px;
        text-align: justify;
    }
}

details[open] {
    border-radius: 0 0 5px 5px;
    background-color: $secondary;
}

details[open] .icon {
    mask: url("../../assets/icons/arrow.svg") no-repeat;
}

details:not([open]) .icon {
    mask: url("../../assets/icons/arrow.svg") no-repeat;
    transform: rotate(180deg);
}

summary {
    height: 52px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    border-radius: 5px;
    padding: 0 20px;
    background: $primary;
    color: $white;
    cursor: pointer;
}
