* {
    box-sizing: border-box;
}

body {
    max-width: 1440px;
    margin: auto;
    background-color: $white;
}

#root {
    position: relative;
    min-height: 100vh;
}

#detail {
    padding: 0 100px;
    padding-bottom: 300px; /* manage footer */
}

a {
    outline: none;
    text-decoration: none;
}

ul {
    list-style: none;
}

p,
ul,
figure,
h1,
h2,
h3 {
    margin: 0;
}

ul {
    padding: 0;
}

@media screen and (max-width: 375px) {
    #detail {
        padding: 0 20px;
        padding-bottom: 300px; /* manage footer */
    }
}
