body {
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 142.6%;
}

h2 {
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: 142.6%;
}
