$primary: rgba(255, 96, 96, 1);
$secondary: rgba(196, 196, 196, 1);
$black: rgba(0, 0, 0, 1);
$white: rgba(255, 255, 255, 1);
$gradiant: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(0, 0, 0, 0.5) 100%
);
